%h4 Iron Yard Locations

- @locations.each do |location|
  = link_to location.name, courses_path(location)
  -if current_user.admin?
    = link_to "Edit", edit_location_path(location)
    |
    = link_to "Delete", location_path(location), method: :delete
  %hr